@value gray-200 from '../../../style/theme.css';
@value space-2, space-3, space-4, size-24 from '../../../style/theme.css';
@value font-mono from '../../../style/theme.css';

.time {
  font-size: size-24;
  font-family: font-mono;
  font-variant-numeric: tabular-nums;
  font-weight: 700;
}
