@value brand, green, gray-200, space-2, space-3, space-4, size-20, size-24 from '../../../style/theme.css';
@value radius-1 from '../../../style/theme.css';

.indicator {
  font-weight: 700;
  font-size: size-24;
}

.connected {
  composes: indicator;
  color: green;
}

.notConnected {
  composes: indicator;
  color: brand;
}
