.container {
  display: flex;
  width: 100%;
  background-color: var(--background-secondary);
  padding: 16px;
  border-radius: 4px;
}

.info {
  flex: 1 1 auto;
}

.images {
  flex: 0 1 auto;
  margin-left: 16px;
  text-align: right;
}

.logo {
  display: block;
  width: 240px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 8px;
}
