.fetching {
  padding: 16px;
  text-align: center;
}

.entry {
  border-bottom: var(--border-secondary);

  &:hover {
    background-color: var(--background-hover);
    cursor: pointer;
  }

  &:active {
    background-color: var(--background-active);
  }

  &.selected {
    border-right: 8px solid var(--primary);
    background-color: var(--background-hover);
  }
}

.setup {
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 32px;
  background-color: var(--background-secondary);
}

.content {
  padding: 8px;
  display: flex;
  align-items: middle;
}

.setup + .content {
  padding-top: 4px;
}

.scheduleNumber {
  flex: 0 1 auto;
  margin-right: 8px;
}

.runContent {
  flex: 1 1 auto;
}

.addButton {
  composes: entry;
  padding: 16px 0;
  border-top: var(--border-primary);
  user-select: none;
}

.addButtonText {
  color: var(--primary);
  margin: 0;
  text-align: center;
}
