.fetching {
  padding: 16px;
  text-align: center;
}

.entry {
  border-bottom: var(--border-secondary);

  &:hover {
    background-color: var(--background-hover);
    cursor: pointer;
  }

  &:active {
    background-color: var(--background-active);
  }

  &.selected {
    border-left: 8px solid var(--primary);
    background-color: var(--background-secondary);
  }
}

.dropOver {
}

.dragging {
  opacity: 0;
}

.dropTarget {
  background-color: var(--background-secondary);
}

.category {
  flex: 1 1 auto;
}

.setup {
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 32px;
  background-color: var(--background-tertiary);
}

.content {
  padding: 8px;
  display: flex;
  align-items: flex-start;
}

.setup + .content {
  padding-top: 4px;
}

.scheduleNumber {
  flex: 0 0 16px;
  margin-right: 8px;
  text-align: right;
}

.runContent {
  flex: 1 1 auto;
  min-width: 0;
}

.removeAction {
  border-radius: 2px;
  padding: 0 4px;
  margin-left: 8px;
  line-height: 1;
  height: 16px;
  align-items: flex-start;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.addButtons {
  position: sticky;
  bottom: 0;
  display: flex;
  width: 100%;
}

.addButton {
  flex: 1 1 50%;
  padding: 16px 0;
  border-top: var(--border-primary);
  border-bottom: var(--border-secondary);
  user-select: none;
  background-color: var(--background-secondary);

  &:hover {
    background-color: var(--background-hover);
    cursor: pointer;
  }

  &:active {
    background-color: var(--background-active);
  }

  &.selected {
    border-right: 8px solid var(--primary);
    background-color: var(--background-hover);
  }

  &:not(:last-child) {
    border-right: var(--border-primary);
  }
}

.addButtonText {
  color: var(--primary);
  margin: 0;
  text-align: center;
}
