.game1 {
  position: absolute;
  top: 60px;
  left: -2px;
  width: 586px;
  height: 439px;
}

.bingoBoard {
  position: absolute;
  top: 80px;
  left: 586px;
  width: 424px;
  height: 400px;
}

.game2 {
  position: absolute;
  top: 60px;
  right: -2px;
  width: 586px;
  height: 439px;
}

.centerStack {
  position: absolute;
  top: 481px;
  height: 148px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-bottom: 2px solid #000;
  z-index: -1;
}

.participantsTimer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 16px auto 0 auto;
  height: 120px;
}

.nameplateLeft,
.nameplateRight {
  position: relative;
  width: 360px;
}

.timer {
  width: 396px;
  height: 65px;
  z-index: 2;
}

.gameInfo {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  width: 520px;
  margin: auto;
  padding-bottom: 4px;
}

.commentaryArea {
  position: absolute;
  top: 640px;
  right: 0;
  bottom: 56px;
  width: 586px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.commentators {
  width: 380px;
  min-height: 50%;
}

.omnibar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 56px;
  width: 100%;
}
