.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.entrySelection {
  display: flex;
  gap: 8px;
  margin: 8px 0;

  & > * {
    flex: 1 1 auto;
  }
}

.bottom {
  margin-top: auto;
}
