@value brand, white, gray-100, gray-600, gray-700, gray-760, black from '../style/theme.css';
@value size-12, size-14, size-20, space-2, space-3, space-4 from '../style/theme.css';
@value radius-1 from '../style/theme.css';

.container {
  overflow: hidden;
}

.teamCards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: space-3;
  height: 100%;
  width: 100%;
}

.teamCard {
  flex: 0 0 auto;
  margin-bottom: space-3;

  &:last-child {
    margin-bottom: 0;
  }
}
