.container {
  display: grid;
  grid-template:
    "fleft fleft fleft fright fright fright" 450px
    "left left center center right right" 300px
    / 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  font-family: font-text;
}

.video {
  overflow: hidden;
  background-color: gray-800;
}

.featuredLeft {
  composes: video;
  grid-area: fleft;
}

.featuredRight {
  composes: video;
  grid-area: fright;
}

.left {
  composes: video;
  grid-area: left;
}

.center {
  composes: video;
  grid-area: center;
}

.right {
  composes: video;
  grid-area: right;
}
