.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 4px 16px;
  color: var(--text-inverted);
  font-size: 24px;
  font-weight: 700;
  text-shadow: 0 0 4px #000;
}
