@value font-text from '../style/theme.css';
@value brand, black, gray-700, gray-300, white from '../style/theme.css';
@value space-2, space-3, space-4 from '../style/theme.css';

.body {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-color: gray-700;
  color: white;
  font-family: font-text;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: space-4;
  grid-auto-flow: row dense;
  grid-auto-rows: minmax(60px, min-content);
  width: 1280px;
  padding: space-2;
  margin: space-3 auto;
}

.socketStatus {
  grid-column: 1 / span 1;
  grid-row: span 1;
}

.currentTime {
  grid-column: 4 / span 1;
  grid-row: span 1;
}

.eventTime {
  grid-column: span 1;
  grid-row: span 2;
}

.featuredRun {
  grid-column: 4 / span 1;
  grid-row: span 3;
}

.currentRuns {
  grid-column: span 2;
  grid-row: span 4;
}

.preshow {
  grid-column: 1 / span 1;
}

.rawState {
  grid-column: span 3;
  grid-row: span 3;
  background-color: gray-300;
  color: black;
}

.resync {
  grid-column: 1 / span 1;
  grid-row: span 2;
}

.teams {
  grid-column: 2 / span 3;
  grid-row: 5 / span 2;
}
