.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  line-height: 1.8rem;
}

.sidebar {
  flex: 1 0 220px;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--background-tertiary);

  ul {
    padding: 0;

    li {
      list-style: none;
      line-height: 1.4rem;
      margin-bottom: 8px;
    }
  }
}

.sidebarHeader:not(:first-child) {
  margin-top: 24px;
}

.newsletterContent {
  flex: 1 0 100%;
  margin: 16px 0;
}

.article {
  margin-top: 2rem;
}

@media only screen and (min-width: 720px) {
  .container {
    flex-wrap: nowrap;
  }

  .sidebar {
    order: -1;
  }

  .newsletterContent {
    flex: 2 1 auto;
  }
}
