.container * {
  box-sizing: border-box;
}

.container {
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
}

.mosaic {
  flex: 1 0 800px;
  min-width: 1200px;
  position: relative;
}

.panelRunInfo {
  position: absolute;
  inset: 0 50% 75% 0;
}

.panelRemoteConnection {
  position: absolute;
  inset: 0 0 75% 75%;
}
