.game1 {
  position: absolute;
  top: 61px;
  left: -2px;
  width: 799px;
  height: 449px;
}

.game2 {
  position: absolute;
  top: 61px;
  right: -2px;
  width: 799px;
  height: 449px;
}

.gameInfo {
  position: absolute;
  top: 515px;
  left: 0;
  width: 538px;
  bottom: 56px;
}

.topStack {
  position: absolute;
  top: -2px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.participantsTimer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: auto;
  height: 65px;
}

.nameplateLeft,
.nameplateRight {
  position: relative;
  bottom: 2px;
  width: 360px;
}

.timer {
  width: 428px;
  height: 100%;
  z-index: 2;
}

.webcam {
  position: absolute;
  top: 512px;
  left: 0;
  right: 0;
  margin: auto;
  width: 520px;
  height: 330px;
}

.commentaryArea {
  position: absolute;
  top: 515px;
  right: 0;
  bottom: 56px;
  width: 538px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.commentators {
  width: 380px;
  min-height: 40%;
}

.omnibar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 56px;
  width: 100%;
  background-color: #777;
  border-top: 2px solid #000;
}
